
<nav class="navbar navbar-light" style="background-color: #ff9933; margin-bottom:0px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-family: 'Press Start 2P',cursive; color:white; font-size:25px;">TutorialReport</a>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><a href="/users/sign_out" data-method="delete" rel="nofollow" style="color:white; font-family: 'IBM Plex Mono', monospace;"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li>
        <li><a href="/users/edit" style="color:white; font-family: 'IBM Plex Mono', monospace;"><span class="glyphicon glyphicon-log-in"></span> Edit Profile</a></li>
      <% else %>
        <li><a href="/users/sign_in" style="color:white; font-family: 'IBM Plex Mono', monospace;"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
        <li><a href="/users/sign_up" style="color:white; font-family: 'IBM Plex Mono', monospace;"><span class="glyphicon glyphicon-log-out"></span> Sign Up</a></li>
      <% end %>
    </ul>
 </div>
</nav>
