<nav class="navbar navbar-light" style="background-color:black; margin-bottom:0px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-family: 'Press Start 2P',cursive; color:#00e600; font-size:25px;">TutorialReport</a>
 </div>
</nav>
