<% if @tutorials.any? %>
  <% @tutorials.each do |t| %>
    <%= t.title %>
  <% end %>
<% else %>
  <h1><%= 'There are currently no tutorials' %></h1>
<% end %>

<% if @is_admin %>
  <%= link_to "Add a tutorial", new_tutorial_path(@tutorial) %>
<% end %>
