<% if @tutorials.any? %>
  <% @tutorials.each do |t| %>
     <h2><%= link_to "#{t.title}", tutorial_path(t.id) %><h2>
  <% end %>
<% else %>
  <h1><%= 'There are currently no tutorials' %></h1>
<% end %>

<% if @is_admin %>
  <br><%= link_to "Add a tutorial", new_tutorial_path(@tutorial) %></br>
<% end %>
