  <header class="masthead wow slideInRight" style="visibility: visible;">
      <div class="intro-text">
        <div class="intro-lead-in">Welcome To Our Studio!</div>
        <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
      </div>
  </header>

  <section class="wow slideInLeft" style="visibility: visible;" id="services">
    <div class="container">
      <div class="comparison">
        <table>
          <thead>
            <tr>
              <th class="tl tl2"></th>
              <th class="qbse">
                Self-Employed & Freelance
              </th>
              <th colspan="3" class="qbo">
                Small businesses that need accounting, invoicing or payroll
              </th>
            </tr>
            <tr>
              <th class="tl"></th>
              <th class="compare-heading">
                Self-Employed
              </th>
              <th class="compare-heading">
                Simple Start
              </th>
              <th class="compare-heading">
                Essentials
              </th>
              <th class="compare-heading">
                Plus
              </th>
            </tr>
            <tr>
              <th></th>
              <th class="price-info">
                <div class="price-was">Was £6.00</div>
                <div class="price-now"><span>£4<span class="price-small">.20</span></span> /month</div>
                <div><a href="#" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>
                <div class="price-try"><span class="hide-mobile">or </span><a href="#">try <span class="hide-mobile">it free</span></a></div>
              </th>
              <th class="price-info">
                <div class="price-was">Was £7.00</div>
                <div class="price-now"><span>£5<span class="price-small">.60</span></span> /month</div>
                <div><a href="#" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>
                <div class="price-try"><span class="hide-mobile">or </span><a href="#">try <span class="hide-mobile">it free</span></a></div>
              </th>
              <th class="price-info">
                <div class="price-was">Was £15.00</div>
                <div class="price-now"><span>£10<span class="price-small">.50</span></span> /month</div>
                <div><a href="#" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>
                <div class="price-try"><span class="hide-mobile">or </span><a href="#">try <span class="hide-mobile">it free</span></a></div>
              </th>
              <th class="price-info">
                <div class="price-was">Was £25.00</div>
                <div class="price-now"><span>£15<span class="price-small">.00</span></span> /month</div>
                <div><a href="#" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>
                <div class="price-try"><span class="hide-mobile">or </span><a href="#">try <span class="hide-mobile">it free</span></a></div>
              </th>
            </tr>
          </thread>
        </table>
      </div>
    </div>
  </section>

<style>
    header.masthead {
      text-align: center;
      color: white;
      background-image: url("http://cmzone.vzbqbxhynotw9ion96xv.netdna-cdn.com/wp-content/uploads/2017/12/Barbara-Custom-Motorcycles-Triumph-E-Black-Matter.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    header.masthead .intro-text {
      padding-top: 150px;
      padding-bottom: 100px;
    }

    header.masthead .intro-text .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    header.masthead .intro-text .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    @media (min-width: 768px) {
      header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
      }
      header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
      header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }

      header.wow {
        visibility: visible;
      }
    }

    .comparison {
      max-width:940px;
      margin:0 auto;
      font:13px/1.4 "Helvetica Neue",Helvetica,Arial,sans-serif;
      text-align:center;
      padding:10px;
    }

.comparison table {
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  border-bottom:1px solid #CCC;
}

.comparison td, .comparison th {
  border-right:1px solid #CCC;
  empty-cells: show;
  padding:10px;
}

.compare-heading {
  font-size:18px;
  font-weight:bold !important;
  border-bottom:0 !important;
  padding-top:10px !important;
}

.comparison tbody tr:nth-child(odd) {
  display:none;
}

.comparison .compare-row {
  background:#F5F5F5;
}

.comparison .tickblue {
  color:#0078C1;
}

.comparison .tickgreen {
  color:#009E2C;
}

.comparison th {
  font-weight:normal;
  padding:0;
  border-bottom:1px solid #CCC;
}

.comparison tr td:first-child {
  text-align:left;
}

.comparison .qbse, .comparison .qbo, .comparison .tl {
  color:#FFF;
  padding:10px;
  font-size:13px;
  border-right:1px solid #CCC;
  border-bottom:0;
}

.comparison .tl2 {
  border-right:0;
}

.comparison .qbse {
  background:#0078C1;
  border-top-left-radius: 3px;
  border-left:0px;
}

.comparison .qbo {
  background:#009E2C;
  border-top-right-radius: 3px;
  border-right:0px;
}

.comparison .price-info {
  padding:5px 15px 15px 15px;
}

.comparison .price-was {
  color:#999;
  text-decoration: line-through;
}

.comparison .price-now, .comparison .price-now span {
  color:#ff5406;
}

.comparison .price-now span {
  font-size:32px;
}

.comparison .price-small {
    font-size: 18px !important;
    position: relative;
    top: -11px;
    left: 2px;
}

.comparison .price-buy {
  background:#ff5406;
  padding:10px 20px;
  font-size:12px;
  display:inline-block;
  color:#FFF;
  text-decoration:none;
  border-radius:3px;
  text-transform:uppercase;
  margin:5px 0 10px 0;
}

.comparison .price-try {
  font-size:12px;
}

.comparison .price-try a {
  color:#202020;
}

@media (max-width: 767px) {
  .comparison td:first-child, .comparison th:first-child {
    display: none;
  }
  .comparison tbody tr:nth-child(odd) {
    display:table-row;
    background:#F7F7F7;
  }
  .comparison .row {
    background:#FFF;
  }
  .comparison td, .comparison th {
    border:1px solid #CCC;
  }
  .price-info {
  border-top:0 !important;

}

}

@media (max-width: 639px) {
  .comparison .price-buy {
    padding:5px 10px;
  }
  .comparison td, .comparison th {
    padding:10px 5px;
  }
  .comparison .hide-mobile {
    display:none;
  }
  .comparison .price-now span {
  font-size:16px;
}

.comparison .price-small {
    font-size: 16px !important;
    top: 0;
    left: 0;
}
  .comparison .qbse, .comparison .qbo {
    font-size:12px;
    padding:10px 5px;
  }
  .comparison .price-buy {
    margin-top:10px;
  }
  .compare-heading {
  font-size:13px;
}
}
  </style>
