<div class="jumbotron jumbotron-fluid" style="padding: 10em inherit; background-color:tomato; margin-bottom:0px;">
  <div class="container">
    <h1 class="display-4" style="color:white;">Welcome</h1>
    <p class="lead">Lookig for the <em>right</em> coding tutorial? You've come to the right place</p>
  </div>
</div>
