<div class="jumbotron jumbotron-fluid" style="padding: 10em inherit; background-color:#008ae6; margin-bottom:0px; padding-bottom:10px;">
  <div class="container">
    <h1 class="display-4" style="color:white;">Welcome</h1>
    <p class="lead" style="color:white;">Looking for the <em>right</em> coding tutorial? You've come to the right place.</p>
    <p class="lead" style="color:white;">With hundreds tutorial listings which have all been reviewed and discussed by our community,</p>
    <p class="lead" style="color:white;">this is the perfect place to find out if <em>that</em> tutorial is <em>really</em> worth it.</p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid" style="padding-top:10px; background-color:#92a8d1; margin-bottom:0px;">
  <div class="container">
    <form>
      <div class="form-group">
        <h2 class="display-4" style="color:white;">Go Ahead!</h2>
        <label for="exampleInputEmail1" style="color:white;">Tutorial name, website of tutorials,</label>
        <label for="exampleInputEmail1" style="color:white;">name of a coding language, framework, sexy person, whatever you want!</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Do an awesome search" style="margin-bottom:10px;">
        <button type="submit" class="btn btn-primary" style="marign-top:5px; background-color:#008ae6;">Make search</button>
      </div>
    </form>
  </div>
</div>
<div class="jumbotron jumbotron-fluid" >
  <div class="container">
    <h2 class="display-4" style="color:#008ae6;">Three of the best!</h2>
    <p class="lead" style="color:#008ae6;">This weeks three most popular tutorials</p>
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://cdnhtml5hive.azureedge.net/wp-content/uploads/2014/06/js_800x800-619x619.jpg?x48470" alt="Card image cap" style="width:100px;height:100px;">
          <div class="card-body">
            <h5 class="card-title" style="color:#008ae6;">JavaScript</h5>
            <p class="card-text" style="color:#008ae6; font-size:15px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="http://rwdtow.stdout.in/img/avatar-icon.png" alt="Card image cap" style="width:100px;height:100px;">
          <div class="card-body">
            <h5 class="card-title" style="color:#008ae6;">Ruby</h5>
            <p class="card-text" style="color:#008ae6; font-size:15px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://sdtimes.com/wp-content/uploads/2018/03/jW4dnFtA_400x400.jpg" alt="Card image cap" style="width:100px;height:100px;">
          <div class="card-body">
            <h5 class="card-title" style="color:#008ae6;">Java</h5>
            <p class="card-text" style="color:#008ae6; font-size:15px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .card {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
  }

  .card-block {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1.25rem;
  }

  .card-title {
      margin-bottom: 0.75rem;
  }

  .card-subtitle {
      margin-top: -0.375rem;
      margin-bottom: 0;
  }

  .card-text:last-child {
      margin-bottom: 0;
  }

  .card-link:hover {
      text-decoration: none;
  }

  .card-link + .card-link {
      margin-left: 1.25rem;
  }

  .card > .list-group:first-child .list-group-item:first-child {
      border-top-right-radius: 0.25rem;
      border-top-left-radius: 0.25rem;
  }

  .card > .list-group:last-child .list-group-item:last-child {
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
  }

  .card-header {
      padding: 0.75rem 1.25rem;
      margin-bottom: 0;
      background-color: #f7f7f9;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  .card-header:first-child {
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }

  .card-footer {
      padding: 0.75rem 1.25rem;
      background-color: #f7f7f9;
      border-top: 1px solid rgba(0, 0, 0, 0.125);
  }

  .card-footer:last-child {
      border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }

  .card-header-tabs {
      margin-right: -0.625rem;
      margin-bottom: -0.75rem;
      margin-left: -0.625rem;
      border-bottom: 0;
  }

  .card-header-pills {
      margin-right: -0.625rem;
      margin-left: -0.625rem;
  }

  .card-primary {
      background-color: #0275d8;
      border-color: #0275d8;
  }

  .card-primary .card-header,
  .card-primary .card-footer {
      background-color: transparent;
  }

  .card-success {
      background-color: #5cb85c;
      border-color: #5cb85c;
  }

  .card-success .card-header,
  .card-success .card-footer {
      background-color: transparent;
  }

  .card-info {
      background-color: #5bc0de;
      border-color: #5bc0de;
  }

  .card-info .card-header,
  .card-info .card-footer {
      background-color: transparent;
  }

  .card-warning {
      background-color: #f0ad4e;
      border-color: #f0ad4e;
  }

  .card-warning .card-header,
  .card-warning .card-footer {
      background-color: transparent;
  }

  .card-danger {
      background-color: #d9534f;
      border-color: #d9534f;
  }

  .card-danger .card-header,
  .card-danger .card-footer {
      background-color: transparent;
  }

  .card-outline-primary {
      background-color: transparent;
      border-color: #0275d8;
  }

  .card-outline-secondary {
      background-color: transparent;
      border-color: #ccc;
  }

  .card-outline-info {
      background-color: transparent;
      border-color: #5bc0de;
  }

  .card-outline-success {
      background-color: transparent;
      border-color: #5cb85c;
  }

  .card-outline-warning {
      background-color: transparent;
      border-color: #f0ad4e;
  }

  .card-outline-danger {
      background-color: transparent;
      border-color: #d9534f;
  }

  .card-inverse {
      color: rgba(255, 255, 255, 0.65);
  }

  .card-inverse .card-header,
  .card-inverse .card-footer {
      background-color: transparent;
      border-color: rgba(255, 255, 255, 0.2);
  }

  .card-inverse .card-header,
  .card-inverse .card-footer,
  .card-inverse .card-title,
  .card-inverse .card-blockquote {
      color: #fff;
  }

  .card-inverse .card-link,
  .card-inverse .card-text,
  .card-inverse .card-subtitle,
  .card-inverse .card-blockquote .blockquote-footer {
      color: rgba(255, 255, 255, 0.65);
  }

  .card-inverse .card-link:focus, .card-inverse .card-link:hover {
      color: #fff;
  }

  .card-blockquote {
      padding: 0;
      margin-bottom: 0;
      border-left: 0;
  }

  .card-img {
      border-radius: calc(0.25rem - 1px);
  }

  .card-img-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1.25rem;
  }

  .card-img-top {
      border-top-right-radius: calc(0.25rem - 1px);
      border-top-left-radius: calc(0.25rem - 1px);
  }

  .card-img-bottom {
      border-bottom-right-radius: calc(0.25rem - 1px);
      border-bottom-left-radius: calc(0.25rem - 1px);
  }

  @media (min-width: 576px) {
      .card-deck {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap;
      }
      .card-deck .card {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 1;
          -webkit-flex: 1 0 0%;
          -ms-flex: 1 0 0%;
          flex: 1 0 0%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
      }
      .card-deck .card:not(:first-child) {
          margin-left: 15px;
      }
      .card-deck .card:not(:last-child) {
          margin-right: 15px;
      }
  }

  @media (min-width: 576px) {
      .card-group {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap;
      }
      .card-group .card {
          -webkit-box-flex: 1;
          -webkit-flex: 1 0 0%;
          -ms-flex: 1 0 0%;
          flex: 1 0 0%;
      }
      .card-group .card + .card {
          margin-left: 0;
          border-left: 0;
      }
      .card-group .card:first-child {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
      }
      .card-group .card:first-child .card-img-top {
          border-top-right-radius: 0;
      }
      .card-group .card:first-child .card-img-bottom {
          border-bottom-right-radius: 0;
      }
      .card-group .card:last-child {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
      }
      .card-group .card:last-child .card-img-top {
          border-top-left-radius: 0;
      }
      .card-group .card:last-child .card-img-bottom {
          border-bottom-left-radius: 0;
      }
      .card-group .card:not(:first-child):not(:last-child) {
          border-radius: 0;
      }
      .card-group .card:not(:first-child):not(:last-child) .card-img-top,
      .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
          border-radius: 0;
      }
  }

  @media (min-width: 576px) {
      .card-columns {
          -webkit-column-count: 3;
          -moz-column-count: 3;
          column-count: 3;
          -webkit-column-gap: 1.25rem;
          -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
      }
      .card-columns .card {
          display: inline-block;
          width: 100%;
          margin-bottom: 0.75rem;
      }
  }
</style>
