<div class="jumbotron jumbotron-fluid" style="padding: 10em inherit; background-color:#008ae6; margin-bottom:0px; padding-bottom:10px;">
  <div class="container">
    <h1 class="display-4" style="color:white;">Welcome</h1>
    <p class="lead">Looking for the <em>right</em> coding tutorial? You've come to the right place.</p>
    <p class="lead">With hundreds tutorial listings which have all been reviewed and discussed by our community,</p>
    <p class="lead">this is the perfect place to find out if <em>that</em> tutorial is <em>really</em> worth it.</p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid" style="background-color:#66ff66; padding-top:10px; margin-bottom:0px;">
  <div class="container">
    <form>
      <div class="form-group">
        <h2 class="display-4" style="color:white;">Go Ahead!</h2>
        <label for="exampleInputEmail1">Tutorial name, website of tutorials,</label>
        <label for="exampleInputEmail1">name of a coding language, framework, sexy person, whatever you want!</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Do an awesome search" style="margin-bottom:10px;">
        <button type="submit" class="btn btn-primary" style="marign-top:5px;">Make search</button>
      </div>
    </form>
  </div>
</div>
<div class="jumbotron jumbotron-fluid" style="background-color:#ff3300;">
  <div class="container">
    <h2 class="display-4" style="color:white;">Three of the best!</h2>
    <p class="lead" style="color:white;">This weeks three most popular tutorials</p>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body text-secondary">
            <h5 class="card-title">JavaScript Tutorial</h5>
            <p class="card-text">An awesome Tutorial.</p>
            <a href="#" class="btn btn-primary">Take me there!</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body text-secondary">
            <h5 class="card-title">Java Tutorial</h5>
            <p class="card-text">An awesome Java Tutorial.</p>
            <a href="#" class="btn btn-primary">Take me there!</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body text-secondary">
            <h5 class="card-title">Ruby Tutorial</h5>
            <p class="card-text">An awesome Ruby Tutorial.</p>
            <a href="#" class="btn btn-primary">Take me there!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
