<div class="jumbotron jumbotron-fluid" style="padding: 10em inherit; background-color:#008ae6; margin-bottom:0px;">
  <div class="container">
    <h1 class="display-4" style="color:white;">Welcome</h1>
    <p class="lead">Lookig for the <em>right</em> coding tutorial? You've come to the right place.</p>
    <p class="lead">With hundreds tutorial listings which have all been reviewed and discussed by our community,</p>
    <p class="lead">this is the perfect place to find out if <em>that</em> tutorial is <em>really</em> worth it.</p>
    <h2 class="display-4" style="color:white;">Go Ahead!</h2>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Tutorial name, website of tutorials,</label>
        <label for="exampleInputEmail1">name of a coding language, framework, sexy person, whatever you want!</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Do an awesome search">
      </div>
    <p class="lead">Have a search and see what we've got!</p>
  </div>
</div>
